<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Login</h1>
          <form #f="ngForm" (ngSubmit)="login(f.value)">
            <!-- Add #f="ngForm" to get the form's value -->

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                required
                name="email"
                ngModel
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                required
                name="password"
                ngModel
              />
            </div>
            <hr>
            <div class="text-center">
              <button type="submit" class="btn btn-danger">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
